<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DomainModelling___Simulator.Properties.Settings.BankConnectionString"
      connectionString="data source=MAN;Initial Catalog=Bank;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Domain_Modeling.Properties.Settings.BankConnectionString"
      connectionString="Data Source=MAN;Initial Catalog=Bank;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>